<div>
  <table   class="border-collapse border">
    <ng-container *ngFor="let i of rowNums">
      <tr>
        <ng-container *ngFor="let j of colNums">
          <td
            (mousedown)="cellClick($event, i, j)"
            (mouseup)="onMouseUp($event, i, j)"
            [ngClass]="{'bg-green-500': checkIfNextPossiblePosition(i, j)}"
            class="border border-green-400 hover:bg-green-300"

          >
            <img

              [src]="pieceKindToSVGPath(boardState[i][j]?.pieceKind)"
              alt=""
              class="transform"
              [ngClass]="{'rotate-180': boardState[i][j]?.colors == colors.SecondPlayer, 'scale-125': chosenPiece?.rowNum == i && chosenPiece?.colNum ==j}"
              
            />
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </table>

  <!--<ng-container *ngIf="chosenPiece">-->
    <!--<img-->
      <!--[src]="pieceKindToSVGPath(chosenPiece.pieceKind)"-->
      <!--alt=""-->
      <!--class="absolute transform -translate-x-1/2 -translate-y-1/2 pointer-events-none transform hover:scale-125"-->
    <!--/>-->
  <!--</ng-container>-->

</div>

<ul>
  <li *ngFor="let pieceOnKomadai of firstPlayerKomadai">
    {{pieceOnKomadai.kind}}
  </li>
</ul>

<ul>
  <li *ngFor="let pieceOnKomadai of secondPlayerKomadai">
    {{pieceOnKomadai.kind}}
  </li>
</ul>

<button class="border border-green-500 p-4" (click)="clickForward()">
  forward
</button>

<button class="border border-green-500 p-4" (click)="clickBackward()">
  backward
</button>
